[Unit]
Description=Backend Firewall Service
After=iptables.service consul.service

[Service]
User=root
Group=root
ExecStart=/usr/bin/befw-sync
Restart=always

[Install]
WantedBy=multi-user.target
